<h1>File Cabinet</h1>
<p>Organize your files</p>

<button>
  <%= link_to "Enter", new_user_registration_path %>
</button>
<h2>Go Ahead!</h2>
<button>
  <%= link_to "Join now", new_user_registration_path %>
</button>
